* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body {
    font-family:sans-serif;
}
h1,h2,h3 {
    margin-top:0.5em;
}

/*HEADER*/

header{
    position: relative;
    height: 25em;
}

header h1{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 2.5em;
    background: rgba(7, 150, 150, 0.65);
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
    width:100%;
    height: 50px;
    padding-right: 1.3em;
    display: flex;
    justify-content:flex-end;
    align-items:center;
    position:absolute;
    z-index: 1;
    top:0.5em;
    
/*    margin:30px;*/
/*    text-shadow: 1px 1px 1px rgba(255,255,255,0.5);*/
}

header h2{
/*    font-family: 'Amatic SC', cursive;*/
    font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.3em;
    letter-spacing: 0.03em;
    
    height: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    color:#fff; 
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
    text-align: center;
    top: 0;
    
    border:solid #fff 10px;
    border-radius: 7px;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.65);
    margin: 30px;
}
 
header abbr{
    padding:.4em;
    font-size: 1.25em;
}

body {
    background: center bottom url(desk.jpg) no-repeat;
    background-size:cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}

a{
    text-decoration: none;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #fff;
    text-shadow: 0 0 1px rgba(255,255,255,0.25);
    font-size: 1em;
}

a:hover{
    color: rgb(242, 214, 72);
}

a:active{
    color: rgb(242, 214, 72);
}


.summary{
    background: rgba(7, 150, 150, 0.65);
    position: relative;
/*    margin: 30px;*/
    padding: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    
    display: flex;
    justify-content: center;
    align-items: center;
    
    width:100%;
    position:absolute;
    z-index: 1;
    top:21em;
}

.summary p{
    font-size: 1em;
    padding: 0.01em;
    margin-left: 0.25em;
    display: inline-block;
    color: #fff;
}

.summary a{
    text-decoration: none;
    font-weight: 600;
    color:rgb(3, 39, 39);
    text-shadow: 0 0 1px rgba(255,255,255,0.25);
}

.summary a:hover{
    color: rgb(242, 214, 72);
}


/*PREAMBLE*/

.preamble{
    position: relative;
    top: 1.5em;
    background:rgba(7, 150, 150, 0.65);
    padding: .5em;
    
}

.preamble h3{
    font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 2.75em;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.preamble p{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: rgb(3, 39, 39);
    margin: 1em;
    
}

/*EXPLANATION*/

.explanation{
    position: relative;
    top: 3em;
    background:rgba(7, 150, 150, 0.65);
    padding: .5em;
    
}

.explanation h3{
    font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 2.75em;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.explanation p{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: rgb(3, 39, 39);
    margin: 1em;
}

/*Participation*/

.participation{
    width: 49%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
    position: relative;
    float: right;
    
    top: 4.5em;
    background:rgba(7, 150, 150, 0.65);
    padding: .5em;
    margin-left:.5em;
}

.participation h3{
    font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 2.75em;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
     width: 100%;
    text-align: center;
}

.participation p{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: rgb(3, 39, 39);
    margin: 1em;
}

/*BENEFITS*/

.benefits{
    width: 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    float: left;
    margin-right:.5em;
    
    display: flex;
    justify-content:center;
    align-items: center;
    flex-direction: column;
    
    top: 4.5em;
    background:rgba(7, 150, 150, 0.65);
    padding: .5em;
}

.benefits h3{
    font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 2.75em;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
    width: 100%;
    text-align: center;
}

.benefits p{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: rgb(3, 39, 39);
    margin: 1em;
}

/*REQUIREMENTS*/

.requirements{
    width: 100%;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
    
    position: relative;
/*    float: right;*/
    clear: both;
    
    top: 6em;
    background:rgba(7, 150, 150, 0.65);
    padding: .5em;
    margin-top:.5em;
    margin-bottom:.5em;
}

.requirements h3{
     font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #fff;
    font-size: 2.75em;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
    
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.requirements p{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: rgb(3, 39, 39);
    margin: 1em;
}

/*ASIDE*/

aside{
    position: relative;
    background: rgba(7, 150, 150, 0.65);
    width: 100%;
    top:4em;
    padding: .5em;
    margin-right: .5em;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#design-selection{
    position: relative;
    text-align: center;
    width: 49%;
    height: 100%;
    float: left;
}

#design-archives{
    position: relative;
    text-align: center;
    width: 49%;
    height: 25%;
    float: right;
}

#zen-resources{
    position: relative;
    text-align: center;
    width:49%;
    height: 75%;
    float: right;
}


aside .select{
    color: #fff;
    font-size: 1.75em;
    letter-spacing: 0.03em;
    
    font-family: "memoriam-headline-pro",sans-serif;
    font-style: normal;
    font-weight: 400;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65); 
}

aside .archives{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
}

aside .resources{
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: 300;
    font-size: 1.5em;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    text-shadow: 2px 2px 1px rgba(0,0,0,0.65);
}

aside ul li{
    font-family: sans-serif;
    font-weight: 400;
    letter-spacing: 0.01em;
    font-size: 1em;
    color: rgb(3, 39, 39);
    text-align: left;
    padding: .01em;
    list-style:circle #fff;
    list-style-position: inside;
/*    color: #fff;*/
}



/*FOOTER*/

footer{
    background: rgba(7, 150, 150, 0.75);
    position: relative;
    bottom: -420px;
    width: 100%;
    height: 50px;
    padding: .5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
